@media (max-width: 768px) {
    main::before {
        height: 50%;
    }

    header {
        padding-inline: 2rem;
        position: relative;
    }

    .nav_deskop {
        display: none;
    }

    .nav_mobile {
        display: block;
    }

    .hero {
        flex-direction: column-reverse;
        padding-left: 2rem;
    }

    .hero_content {
        align-self: flex-start;

    }

    .hero_content h1 {
        font-size: 2.5rem;
    }

    .hero img {
        max-width: none;
        padding-bottom: 19%;
        height: 58vh;
        transform: translateX(0px);
        align-self: flex-start;
    }

    .hero_content h1 {
        margin-bottom: 2rem;
        max-width: none;

    }

    .hero_desc {
        margin-bottom: 27px;
        max-width: none;
    }

    .hero_cta .hide-on-mobile {
        display: none;
    }


    /* Navbar ******************** */

    .nav_mobile button {
        outline: none;
        border: none;
        background-color: transparent;
    }

    .nav_mobile ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        gap: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
        right: 2rem;
        z-index: 1000;
        left: 2rem;
        top: 4.5rem;
    }

    .nav_mobile ul .nav_divider {
        height: 1px;
        background-color: var(--color-dark);
        mix-blend-mode: normal;
        opacity: 0.15;
        width: 90%;
        margin-inline: auto;
    }

    /* Rotate animation for the button */
    .menu-button {
        transition: transform 0.3s ease;
    }

    .menu-button.rotate {
        transform: rotate(90deg);
    }

    /* Mobile menu animations */
    .mobile-menu {
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .mobile-menu.visible {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .mobile-menu.hidden {
        opacity: 0;
        transform: translateY(-20px);
        pointer-events: none;
    }

}