*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}


ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}